[user]
	name = sergigraum
	email = sergi@unmanned.life
[cola]
	spellcheck = false
[alias]
	s = status
	co = checkout
	c = commit
	cob = checkout -b
	br = br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	undo = reset HEAD~1 --mixed
	res = !git reset --hard
# https://snyk.io/blog/10-git-aliases-for-faster-and-productive-git-workflow/
